@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

* {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f0f0f0;
}

.header {
    height: 75vh;
    width: 100%;
    border-radius: 0 0 0 20%;
    background-color: #1e1e1e;
    align-items: center;
    display: flex;
    justify-content: center;
}

.content-header {
    color: white;
    font-family: 'Raleway', sans-serif;

}

.text-rol {
    font-weight: 100;
}

.access-buttons{
    padding-top: 5vh;
    display: flex;
    justify-content: right;
    padding-right: 3vw;
    top: 0;
    padding-bottom: 30vh;
    gap: 2vw;
}

.access-buttons p{
    font-family: 'Raleway', sans-serif;
    font-size: large;
    font-weight: bolder;
}

.about-me {
    padding-top: 10vh;
    padding-left: 3vw;
    display: flex;
    position: relative;
}

.abtme-content{
    position: absolute;
}

.title{
    padding-left:  4vw ;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.content-space {
    height: 20em;
    width: 15em;
    border-radius: 45% 0 45% 0;
    margin-top: 5vh;
    margin-left: 3vw;
    box-sizing: content-box;
    background-position: center;
    background-size: cover;
}

.description {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 22vw;
    margin-top: 13vw;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    
}

.circle-container {
    width: 3.5em;
    height: 3.5em;
    background-color: #2e2e2e;
    border-radius: 100%;
}

.circle-container img {
    margin-left: 30%;
    margin-top: 20%;
    width: 40%;
    justify-content: center;
    float: none;
}


.experience {
    padding-top: 20vh;
    overflow: hidden;
}

.titles {
    padding-left: 7vw;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: #2e2e2e;
}

.experience-subtitle {
    padding-left: 7vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: 'Raleway', sans-serif;
}

.experience-li {
    list-style: none;
    display: inline-block;
    padding: 2vh;
}

.senior-experience{
    display: flex;
    flex-direction: column;
}

.experience-list {
    width: 95vw;
    position: relative;
    left: 5vw;
}

.junior-experience {
    padding-top: 10vh;
}

.works {
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
}

.works-space {
    width: 14em;
    height: 18em;
    display: table;
    transition: transform .3s;
    position: relative;
    border-radius: 45% 0 45% 0;
    margin: 0;
}   

.works-space .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform .5s;
}

.works-space .front{
    position: absolute;
    transform: perspective(600px) rotateY(0);
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 45% 0 45% 0;
    backface-visibility: hidden;
    border: solid rgb(48, 48, 48) 1px;
}

.works-space .back{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    color: white;
    background-color: rgb(48, 48, 48);
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0% 45% 0% 45%;
    font-size: 10px;
    text-align: center;
}

.back h1{
    margin-top: 50px;
    margin-bottom: 25px;
    text-decoration-line:solid white 1px;
    font-family: 'Raleway', sans-serif;
}

.back h2{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}

.back a{
    font-size: 30px;
    text-decoration: none;
    color: #f7f7f7;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    left: 85px;
    top: 37px;
    position: relative;
    transition: font-size .2s, color .5s;
    padding-right: 1vw;
}

.back a:hover{
    font-size: 35px;
    color: #4fc105ff;
}

.second-work{
    top: 65px!important;
}

.third-work{
    left: 75px!important;
    top: 65px!important
}

#portfolio-front{
    background-image: url(../static/media/thispage.PNG);
    background-position: center;
    background-size: cover;
}

.works-list{
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    max-width:90vw;
}

.works-li {
    display: inline-block;
    position: relative;
    left: 6vw;
    box-sizing: border-box;
    width: 14.2em;
    height: 18em;
    top:4vw;
}

.works-li:hover .front{
    transform: rotateY(180deg);
}

.works-li:hover .back{
    transform: rotateX(360deg) scale(1.2);
}


.works-text{
    width: 14em;
    height: 18em;
    display: table;
}

.works-subtitle{
    padding-left: 6vw;
}

.works-space p{
    display: table;
    margin: auto;
    opacity: 00%;
    display: none;
}

.sub-li{
    width: 12em;
}

.contact{
    padding-top: 40vh;
    padding-bottom: 20vh;
    padding-left: 3vh;

}

.social-ul{
    position: relative;
    margin-left: 6.8vw;
}

.social-li{
    width: 3em;
    height: 0;
    list-style: none;
    display: inline-block;
}

.social-container{
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer{
    width: 100%;
    height: 30vh;
    background-color: #2e2e2e;
    border-radius: 30% 0 0 0;
}

/* --------------------------------- */

.access-buttons a{
    text-decoration: none;
}

.Button {
    transition: transform .2s;
    color: #2e2e2e;
}

.Button:hover {
    color: #4fc105ff;
    transform:scale(1.25);
}

.Button-div {
    transition: background-color .5s;
    transition: transform .5s;
}

.Button-div:hover {
    background-color: #4fc105ff;
    transform:scale(1.10);
    cursor: pointer;
}

/* ----------------------------*/

.experience-container {
    border-radius: 100%;
    background-color: #2e2e2e;
    width: 8em;
    height: 8em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-container img{
    width: auto;
    height: 50%;
    mix-blend-mode: lighten;
}

/* ------------------------------- */

.aboutme{
    display: flex;
    flex-direction: column;
}

.abtme-link{
    width: 15vw;
    left: 6vw;
    top: 3vh;
    position: relative;
}

.cv-card{
    position: relative;
    width: 15vw;
    height: 20vw;
    background-image: url("media/DemianFaulhaber.jpg");
    background-position: center;
    background-color: white;
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 5% ;
    border: solid black 1px;
    transition: transform .2s;
    z-index: 500;
    box-shadow: black;
}

.cv-card:hover {
    transform: scale(1.2);
    border: groove #4fc105ff 1px;
}

.abtme-link:hover ~ .abtme-download{
    transform: scale(1.2) translate(1.2vw, 1.2vw);
}

.abtme-download{
    width: 3.5vw;
    left: 19vw;
    position: relative;
    z-index: 550;
    transition: transform .2s;
}

.aboutme-circle{
    display: flex;
    width: 3.5vw;
    height: 3.5vw;
    background-color: #2e2e2e;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.aboutme-circle img{
    width: 1vw;
    height: 1.5vw;
}

#HLC-front{
    background-image: url("../static/media/portada-HLC.png");
    background-size: cover;
    background-position: center;
}

#fighting-game-front{
    background-image: url("../static/media/fighting-game.PNG");
    background-size: cover;
}

.go-up{
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    position: sticky;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
    color: white;
    font-size: 2em;
    left: 95vw;
    bottom: 1vw;
    transition: opacity .5s;
}

.show{
    opacity:1;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
}

.footer p{
    position: relative;
    bottom: 2vw;
}

.text-container{
    display: flex;
    justify-content: center;
}

.presentation{
    width: 43vw;
    margin-top: 2vw;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
}

@media (max-width:1300px){
    .presentation{
        font-size: 1.1rem;
    }
    .access-buttons{
        gap: 3vw;
    }
    .abtme-link{
        width: 21vw;
        height: 26vw;
    }
    .cv-card{
        width: 21vw;
        height: 26vw;
    }
    .abtme-download{
        width: 5.5vw;
        left: 24vw;
    }
    .aboutme-circle{
        width: 5.5vw;
        height: 5.5vw;
    }
    .aboutme-circle img{
        width: 1.5vw;
        height: 2.5vw;
    }
    .description{
        margin-left:28vw;
        margin-top: 16vw;
    }
    .works-li{
        width: 12.2em;
        height: 16em;
    }
    .works-space{
        width: 12em;
        height: 16em;
    }
    .back h1{
        margin-bottom: 15px;
        font-size: 1.5em;
    }
    .back h2{
        margin-bottom: 10px;
    }
    .back a{
        font-size: 20px;
    }
}

@media (max-width:750px){
    .presentation{
        font-size: 1.1rem;
        width: 55vw;
    }
    .header{
        height: 50vh;
    }
    .access-buttons{
        gap: 4vw;
    }
    .abtme-link{
        width: 31vw;
        height: 40vw;
    }
    .cv-card{
        width: 31vw;
        height: 40vw;
    }
    .abtme-download{
        width: 7.5vw;
        left: 33vw;
    }
    .aboutme-circle{
        width: 7.5vw;
        height: 7.5vw;
    }
    .aboutme-circle img{
        width: 2.5vw;
        height: 3.5vw;
    }
    .description{
        margin-left: 40vw;
        margin-top: 25vw;
    }
    .experience-container{
        width: 6em;
        height: 6em;
    }
}

@media (max-width:450px){
    .presentation{
        width: 90vw;
        font-size: 0.8rem;
    }
    .works-list{
        gap:5rem;
        flex-direction: column;
        align-items: center;

    }
    .works-li{
        width: 15em;
        height: 21em;
        left: 0;
        top: 3rem;
    }
    .works-space{
        width: 15em;
        height: 21em;
    }
    .back h1{
        margin-bottom: 30px;
        font-size: 2em;
    }
    .back h2{
        margin-bottom: 25px;
        font-size: 2em;
    }
    .back a{
        font-size: 2.5em;
    }
    .abtme-link{
        width: 41vw;
        height: 55vw;
    }
    .cv-card{
        width: 41vw;
        height: 55vw;
    }
    .abtme-download{
        width: 10.5vw;
        left: 42vw;
    }
    .aboutme-circle{
        width: 10.5vw;
        height: 10.5vw;
    }
    .aboutme-circle img{
        width: 3.5vw;
        height: 5.5vw;
    }
    .description{
        margin-left: 52vw;
        margin-top: 33vw;
        font-size: 1em;
    }
}

